.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/src/main/resources/img/processed5_z_0/
/src/main/resources/img/processed4/
/src/main/resources/img/processed5_z_-4/
/src/main/resources/img/processed5_z_1/
/src/main/resources/img/processed5_z_-1/
/src/main/resources/img/processed1/
/src/main/resources/img/src_z_-2/
/src/main/resources/img/src_z_0/
/src/main/resources/img/src_z_1/
/src/main/resources/img/src_z_-5/
/src/main/resources/img/processed3/
/src/main/resources/img/processed5_z_-2/
/src/main/resources/img/processed5_z_-5/
/src/main/resources/img/src_z_-4/
/src/main/resources/img/processed2/
/src/main/resources/img/processed5_z_-3/
/src/main/resources/img/src_z_-3/
/src/main/resources/img/src_z_-1/
